<footer class="footerWrapper">
    <div class="footer">
        {{ with .Site.Params.footerHtml }}
            <span>{{ . | safeHTML }}</span>
        {{ else }}
            <span>© {{ now.Format "2006" }} {{ .Site.Params.author.name }}</span>
        {{ end }}
        {{ with .Site.Params.version }}
            <span class="version">v{{ . }}</span>
        {{ end }}
        <span class="keybindings-hint">[j/k] scroll [g]o home [w]hoami [b]log [p]rojects [t]hemes [/] search</span>
    </div>
</footer>
