// Post, blog, list, and index page components
@use 'variables' as *;

// Post list components
.postDate {
  float: right;
  color: $text-primary;
}

.postTitle {
  color: $accent-primary;
  text-decoration: none;
  text-transform: capitalize;
  font-family: 'Fira Mono', monospace;
  font-size: 1.2em;
  float: left;
  transition: color 0.2s ease;
  
  &:hover {
    color: $accent-secondary;
  }
}

.postHeader {
  overflow: hidden;
}

.postsList {
  margin-top: 20px;
}

.postListItem {
  padding: 20px;
  background-color: $bg-darker;
  margin-bottom: 20px;
}

.postListLink:hover {
  text-decoration: none;
}

.postExcerpt {
  text-align: initial;
  text-decoration: none;
  color: $text-primary;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.noDecoration {
  text-decoration: none;
}

// Index page
.indexWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.indexHeader {
  font-size: 3em;
}

/* Avatar sizes (default is M) - XS, S, M, L, XL */
.authorImageWrapper img.size-xs {
  height: 7rem;
  width: 7rem;
}

.authorImageWrapper img.size-s {
  height: 9rem;
  width: 9rem;
}

.authorImageWrapper img.size-m {
  height: 11rem;
  width: 11rem;
}

.authorImageWrapper img.size-l {
  height: 13rem;
  width: 13rem;
}

.authorImageWrapper img.size-xl {
  height: 15rem;
  width: 15rem;
}

// List page
.listHeader, .listContent {
  text-align: left;
}

.readingTime {
  text-align: initial;
  text-decoration: none;
  color: $text-primary;
  font-size: 0.9em;
}

// Single post page
.postWrapper {
  text-align: left;
  padding: 20px;    
}

// Post description - emphasized lead-in
.postDescription {
  font-size: 1.2rem;
  line-height: 1.7;
  color: $text-primary;
  max-width: 65ch;
  margin-top: 1.5em;
  margin-bottom: 0;
  font-style: italic;
  border-left: 3px solid $accent-primary;
  padding-left: 1em;
}

// Post content typography - optimized for reading
.postContent {
  // Base typography
  font-size: 1.05rem;
  line-height: 1.75;
  
  // Paragraphs - optimal line length (60-75 chars)
  p {
    max-width: 65ch;
    margin-bottom: 1.5em;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  // Headers - breathing room
  h2 {
    margin-top: 2.5em;
    margin-bottom: 1em;
    
    &:first-child {
      margin-top: 1.5em;
    }
  }
  
  h3 {
    margin-top: 2em;
    margin-bottom: 0.75em;
  }
  
  h4, h5, h6 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }
  
  // Lists - improved readability
  ul, ol {
    padding-left: 2em;
    margin-bottom: 1.5em;
    
    li {
      margin-bottom: 0.5em;
      line-height: 1.6;
      
      &:last-child {
        margin-bottom: 0;
      }
    }
    
    // Nested lists
    ul, ol {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  }
  
  // Unordered list styling
  ul {
    list-style: none;
    
    > li {
      position: relative;
      
      &::before {
        content: '>';
        position: absolute;
        left: -1.5em;
        color: $accent-primary;
        font-family: 'Fira Mono', monospace;
        font-weight: bold;
      }
    }
  }
  
  // Ordered lists keep numbers
  ol {
    list-style-position: outside;
    
    > li::marker {
      color: $accent-primary;
      font-family: 'Fira Mono', monospace;
      font-weight: bold;
    }
  }
  
  // Code blocks - better spacing
  pre {
    margin: 1.5em 0;
    border-radius: 4px;
    
    code {
      padding: 1em;
      line-height: 1.5;
    }
  }
  
  // Inline code
  code {
    font-size: 0.9em;
  }
  
  // Images
  img {
    margin: 1.5em 0;
    border-radius: 4px;
  }
  
  // Blockquotes
  blockquote {
    margin: 1.5em 0;
  }
  
  // Horizontal rules
  hr {
    margin: 2.5em 0;
    border: none;
    border-top: 1px dashed $text-dim;
  }
}

// Two-row compact metadata layout
.postMetadata {
  font-family: 'Fira Mono', monospace;
  font-size: 0.9rem;
  margin-top: 0.75em;
  
  .metadataTaxonomies {
    color: $text-primary;
    margin-bottom: 0.25em;
    
    a {
      color: $accent-primary;
      border-bottom: 1px dashed $accent-primary;
      
      &:hover {
        color: $accent-secondary;
        border-bottom-color: $accent-secondary;
      }
    }
  }
  
  .metadataInfo {
    color: $text-dim;
    
    time, span {
      color: $text-dim;
    }
  }
}

// View counter
.viewCounter {
  color: $text-dim;
  font-family: 'Fira Mono', monospace;
  font-size: 0.9rem;
  
  .viewCount {
    color: $text-dim;
  }
}
