{{ define "title"}}
{{ .Title }} | {{ .Site.Params.author.name }}
{{ end }}

{{ define "main" }}
<div class="singlePageWrapper">
    {{ if and (.Params.toc) (.TableOfContents) }}
    <aside class="toc">
        <div class="tocSticky">
            <h3><a href="#page-top">{{ .Title }}</a></h3>
            {{ .TableOfContents }}
        </div>
    </aside>
    {{ end }}

    <div class="postWrapper {{ if .Params.toc }}withToc{{ end }}">
        <h1 id="page-top">{{ .Title }}</h1>

        {{/* Master switch */}}
        {{ $showMetadata := true }}
        {{ if eq .Site.Params.showMetadata false }}{{ $showMetadata = false }}{{ end }}
        {{ if eq .Params.showMetadata false }}{{ $showMetadata = false }}{{ end }}

        {{/* Published date */}}
        {{ $showPublished := true }}
        {{ if eq .Site.Params.showPublishedDate false }}{{ $showPublished = false }}{{ end }}
        {{ if eq .Site.Params.published false }}{{ $showPublished = false }}{{ end }}
        {{ if eq .Params.showPublishedDate false }}{{ $showPublished = false }}{{ end }}

        {{/* Reading time */}}
        {{ $showReadingTime := true }}
        {{ if eq .Site.Params.showReadingTime false }}{{ $showReadingTime = false }}{{ end }}
        {{ if eq .Site.Params.readingTime false }}{{ $showReadingTime = false }}{{ end }}
        {{ if eq .Params.showReadingTime false }}{{ $showReadingTime = false }}{{ end }}

        {{/* Tags */}}
        {{ $showTags := true }}
        {{ if eq .Site.Params.showTags false }}{{ $showTags = false }}{{ end }}
        {{ if eq .Params.showTags false }}{{ $showTags = false }}{{ end }}

        {{/* Authors */}}
        {{ $showAuthors := true }}
        {{ if eq .Site.Params.showAuthors false }}{{ $showAuthors = false }}{{ end }}
        {{ if eq .Params.showAuthors false }}{{ $showAuthors = false }}{{ end }}

        {{/* Categories */}}
        {{ $showCategories := true }}
        {{ if eq .Site.Params.showCategories false }}{{ $showCategories = false }}{{ end }}
        {{ if eq .Params.showCategories false }}{{ $showCategories = false }}{{ end }}

        {{ if $showMetadata }}
        <div class="postMetadata">
            {{/* Row 1: Tags and categories */}}
            {{ $hasTaxonomies := or (and $showTags (.GetTerms "tags")) (and $showCategories (.GetTerms "categories")) }}
            {{ if $hasTaxonomies }}
            <div class="metadataTaxonomies">
                {{- if and $showTags (.GetTerms "tags") -}}
                    {{- range $index, $tag := (.GetTerms "tags") -}}
                        {{- if $index }} · {{ end -}}
                        <a href="{{ $tag.RelPermalink }}" class="metadataTag">#{{ $tag.LinkTitle | lower }}</a>
                    {{- end -}}
                {{- end -}}
                {{- if and $showCategories (.GetTerms "categories") -}}
                    {{- if and $showTags (.GetTerms "tags") }} · {{ end -}}
                    {{- range $index, $cat := (.GetTerms "categories") -}}
                        {{- if $index }} · {{ end -}}
                        <a href="{{ $cat.RelPermalink }}" class="metadataCategory">{{ $cat.LinkTitle | lower }}</a>
                    {{- end -}}
                {{- end -}}
            </div>
            {{ end }}
            {{/* Row 2: Date, reading time, and view count */}}
            {{ if or $showPublished $showReadingTime }}
            <div class="metadataInfo">
                {{- if $showPublished -}}
                    {{ $layout := .Site.Params.displayDateFormat | default "2006-01-02" }}
                    {{ $iso := .Date | time.Format "2006-01-02" }}
                    <time datetime="{{ $iso }}">{{ .Date | time.Format $layout }}</time>
                {{- end -}}
                {{- if and $showPublished $showReadingTime }}, {{ end -}}
                {{- if $showReadingTime -}}
                    <span>{{ .ReadingTime }} min read</span>
                {{- end -}}
                , {{ partial "view-counter.html" (dict "postId" .Params.postId) }}
            </div>
            {{ end }}
        </div>
        {{ end }}

        {{ if .Description }}
        <p class="postDescription">{{ .Description }}</p>
        {{ end }}

        <div class="postContent">
            {{ .Content }}
        </div>
    </div>
</div>

{{ if .Params.toc }}
    {{ partial "toc-script.html" . }}
{{ end }}
{{ partial "h1-typing.html" . }}
{{ partial "reading-progress.html" . }}
{{ partial "code-enhancements.html" . }}
{{ end }}
