// Main stylesheet - uses modern @use syntax
// Variables file forwards themes, so we only need to include it once

@use 'scss/variables' as *;
@use 'scss/base';
@use 'scss/layout';
@use 'scss/header';
@use 'scss/footer';
@use 'scss/post';
@use 'scss/toc';
@use 'scss/search';
@use 'scss/social';
@use 'scss/reading-progress';
